[submodule "s2geometry"]
	path = s2geometry
	url = https://github.com/google/s2geometry.git
[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "Meowth"]
	path = Meowth
	url = git@github.com:FoglyOgly/Meowth.git
[submodule "Persian"]
	path = Persian
	url = https://github.com/mynameis7/Persian.git
